extends layout

block content
    h1 Title: #{information.title}

    title
    information
    info_instance

    p #[strong Author:]
        a(href=information.author.url) #{information.author.name}
    p #[strong Contents:] #{information.contents}

    p #[strong Genres:] 
        each val,index in information.genre
            a(href=information.genre.url) #{val.name}
            if index < information.genre.length - 1
                |,
    div(style='margin-left:20px;margin-top:20px')
        h4 Instance
        each val in info_instance
            p #[strong Id:]&nbsp;
                a(href=val.url) #{val._id}
        else
            p There are no instance of this information

    